<div class="accordion search-results" id="search-results">
    <div class="row">
        <h5 class="span3">Route</h5>
        <h5 class="span3">Total Duration</h5>
        <h5 class="span3">Total Segments</h5>
    </div>
    {% for route in routes %}
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle row" data-toggle="collapse" data-parent="#search-results" href="#collapse{{ loop.index }}">
                <span class="span3">Route #{{ loop.index }}</span>
                <span class="span3">{{ route.duration }}</span>
                <span class="span3">{{ route.segmentCount }}</span>
            </a>
        </div>
        <div id="collapse{{ loop.index }}" class="accordion-body collapse {{ loop.first ? 'in' : 'out' }}">
            <div class="accordion-inner">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Start</th>
                            <th>End</th>
                            <th>Time</th>
                            <th>Duration</th>
                            <th>Type</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for segment in route %}
                        <tr>
                            <td>{{ segment.start.name }}</td>
                            <td>{{ segment.end.name }}</td>
                            <td>{{ segment.time|date('Y-m-d H:i:s') }}</td>
                            <td>{{ segment.duration }}</td>
                            <td>{{ segment.type|capitalize }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<script type="text/javascript">
    $('#search-results').collapse();
</script>